﻿<style>
    .cvAbout p {
        line-height: 1.5em;
    }

    .cvAbout span {
        color: white;
    }
</style>
<div class="cvAbout">
    <h2>About</h2>
    <p>Gamer, tea drinker, craft beer enthusiast, hobbyist photographer based in Gliwice, Poland. Passionate about programming, especially in .NET technologies. Has a knack for rapid prototyping. Basically lives in Visual Studio.</p>
    <h2>Superpowers</h2>
    <ul>
        <li>Makes awesome pizza</li>
        <li>Decent cook in general</li>
        <li>Can be invisible when nobody's looking</li>
        <li>Writes silly poems every now and again</li>
        <li>This rapid prototyping is a real thing</li>
        <li>Team player but doesn't mind working alone</li>
        <li>Good communication skills</li>
    </ul>
    <p>Find me on <a href="https://www.linkedin.com/in/krzysztof-miczkowski-a4047472/" target="_blank">LinkedIn</a> or Discord at <span>Velorien#1905</span>.</p>
    <h2>Miscellaneous</h2>
    <p>Play me a tune</p>
    <iframe style="border: 0; width: 100%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=2344589109/size=small/bgcol=333333/linkcol=e32c14/track=2855128660/transparent=true/" seamless><a href="http://masterbootrecord.bandcamp.com/album/c-copy-a-v">C:\&gt;COPY *.* A: /V by MASTER BOOT RECORD</a></iframe>
</div>