﻿<style>
    .cvProjects {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .cvProjects p {
        line-height: 1.5em;
    }
</style>

<h2>Open source</h2>
<div class="cvProjects">
    <div>
        <h3><a href="https://gitlab.com/Velorien_/VCV" target="_blank">VCV</a></h3>
        <p>This thing!</p>
    </div>
    <div>
        <h3><a href="https://gitlab.com/Velorien_/XSkills" target="_blank">XSkills</a></h3>
        <p>Employee skill management web app. Available as a <a href="https://store.docker.com/community/images/velorien/xskills" target="_blank">Docker image</a>.</p>
    </div>
    <div>
        <h3><a href="https://gitlab.com/Velorien_/CAH" target="_blank">Cards of Spite</a></h3>
        <p>Cards Against Humanity implementation for web. Also available as a <a href="https://store.docker.com/community/images/velorien/cah" target="_blank">Docker image</a>!</p>
    </div>
    <div>
        <h3><a href="https://gitlab.com/Velorien_/Roller" target="_blank">Roller</a></h3>
        <p>An older project. Simple dice rolling tool but you can script it in C#.</p>
    </div>
    <div>
        <h3><a href="https://gitlab.com/Velorien_/BlazeMaze" target="_blank">Blaze Maze</a></h3>
        <p>Small Blazor app that generates mazes. Try it live <a href="https://veloriencodes.gitlab.io/BlazeMaze" target="_blank">here</a>!</p>
    </div>
</div>
<h2>Closed source</h2>
<div class="cvProjects">
    <div>
        <h3><a href="https://www.microsoft.com/en-gb/p/engager-for-rainmaker/9wzdncrdk0br" target="_blank">Engager for Rainmaker&trade;</a></h3>
        <p>Project I've built from ground up for a customer. Available in Windows Store but requires an account to log in.</p>
    </div>
</div>