﻿<style>
    .cvSkills {
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center;
    }

    .cvSkillGrid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .cvSkill div:first-child {
        color: white;
        font-size: 20px;
        margin-bottom: 5px;
    }

    .cvSkill div:last-child {
        color: red;
        margin-bottom: 20px;
    }
</style>

<div class="cvSkills">
    @foreach (var group in skillGroups)
    {
        <div>
            <h2>@group.Name</h2>
            <div class="cvSkillGrid">
                @foreach(var skill in group.Skills)
                {
                    <div class="cvSkill">
                        <div>@skill.Name</div>
                        <div>@(skill.Description == null ? new string('★', skill.Level) : skill.Description)</div>
                    </div>
                }
            </div>
        </div>
    }
</div>

@functions {
    private IEnumerable<SkillGroup> skillGroups = new[] {
        new SkillGroup { Name = "Programming languages", Skills = new [] {
            new Skill { Name = "C#", Level = 5 },
            new Skill { Name = "JavaScript", Level = 3 },
            new Skill { Name = "TypeScript", Level = 2 },
            new Skill { Name = "Python", Level = 2 },
            new Skill { Name = "F#", Level = 1 }
        } },
        new SkillGroup { Name = "Databases", Skills = new [] {
            new Skill { Name = "SQLite", Level = 4 },
            new Skill { Name = "LiteDB", Level = 4 },
            new Skill { Name = "MySQL", Level = 3 },
            new Skill { Name = "SQL Server", Level = 3 },
            new Skill { Name = "MongoDB", Level = 2 }
        } },
        new SkillGroup { Name = "Frameworks", Skills = new [] {
            new Skill { Name = "UWP", Level = 5 },
            new Skill { Name = "WPF", Level = 4 },
            new Skill { Name = "ASP.NET Core", Level = 4 },
            new Skill { Name = "Vue.js", Level = 3 },
            new Skill { Name = "EF Core", Level = 3 },
            new Skill { Name = "SignalR", Level = 3 }
        } },
        new SkillGroup { Name = "Other", Skills = new [] {
            new Skill { Name = "HTML/CSS", Level = 4 },
            new Skill { Name = "XAML", Level = 4 },
            new Skill { Name = "Docker",  Level = 3 },
            new Skill { Name = "Azure",  Level = 2 },
            new Skill { Name = "Video editing", Level = 1 },
            new Skill { Name = "Web design", Description = "¯\\_(ツ)_/¯" }
        } },
        new SkillGroup { Name = "Languages", Skills = new [] {
            new Skill { Name = "Polish", Description = "native" },
            new Skill { Name = "English", Description = "fluent" },
            new Skill { Name = "German", Description = "super basic" }
        } }
    };
}