﻿@using VCV.Web.Apps.CV

<style>
    .cvContainer {
        display: flex;
        height: 100%;
        flex-direction: column;
    }

    .cvHeader {
        margin-top: 5px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

        .cvHeader img {
            border: 2px solid red;
            -moz-border-radius: 80px;
            -webkit-border-radius: 80px;
            border-radius: 80px;
        }

    .cvContent {
        flex: 1 0 0;
        overflow-y: auto;
        margin-left: 5px;
    }

    .cvContent h2, .cvContent h3 {
        color: white;
    }

    .cvName {
        margin-left: 20px;
    }

    .cvName div:first-child {
        font-size: 40px;
    }

    .cvName div:nth-child(2) {
        font-size: 60px;
        color: white;
    }

    .cvName div:last-child {
        font-size: 25px;
        color: red;
    }

    .cvTabs {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 20px 0;
        font-size: 20px;
    }

    .cvTabs div:hover {
        color: white;
    }

    .cvTabs div.active {
        color: white;
        text-decoration: red underline;
    }
</style>

<div class="cvContainer">
    <div class="cvHeader">
        <img src="/img/avatar.png" height="160" width="160"/>
        <div class="cvName">
            <div>Krzysztof</div>
            <div>Miczkowski</div>
            <div>.NET Developer</div>
        </div>
    </div>
    <div class="cvTabs">
        <div onclick="@(() => currentTab = 0)" class="@(currentTab == 0 ? "active" : string.Empty)">Experience</div>
        <div onclick="@(() => currentTab = 1)" class="@(currentTab == 1 ? "active" : string.Empty)">Skills</div>
        <div onclick="@(() => currentTab = 2)" class="@(currentTab == 2 ? "active" : string.Empty)">Projects</div>
        <div onclick="@(() => currentTab = 3)" class="@(currentTab == 3 ? "active" : string.Empty)">Education</div>
        <div onclick="@(() => currentTab = 4)" class="@(currentTab == 4 ? "active" : string.Empty)">About me</div>
    </div>
    <div class="cvContent">
        @if (currentTab == 0)
        { <CVExperience /> }
        else if (currentTab == 1)
        { <CVSkills /> }
        else if (currentTab == 2)
        { <CVProjects /> }
        else if (currentTab == 3)
        { <CVEducation /> }
        else if (currentTab == 4)
        { <CVAbout /> }
    </div>
</div>


@functions {
    private int currentTab = 0;
}